# Add the admin service account and role binding. It has the cluster admin permissions and ability to deploy/view all. Including cross namespace.


apiVersion: v1
kind: ServiceAccount
metadata:
  name: admin
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-cluster-admin-binding
subjects:
  - kind: ServiceAccount
    name: admin
    namespace: default
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: admin-view-binding
  namespace: default
subjects:
  - kind: ServiceAccount
    name: admin
    namespace: default
roleRef:
  kind: Role
  name: view
  apiGroup: rbac.authorization.k8s.io
